body {
  margin: 12px;
}

#product p {
  /* selects all p children of #product */
  color: red;
}

#product > p {
  /* selects immediate children that are p */
  color: green;
}

#product + p {
  /* selects p that are immediate after #product  */
  color: blue;
}

#product ~ p {
  /* slects p that are present after #product */
  color: rgb(27, 190, 231);
}
