body {
  margin: 12px;
}

h1 {
  color: dodgerblue; /* 001 */
}

.product {
  color: yellow; /* 010 */
}

#product {
  color: pink; /* 100 */
}

h1#product {
  color: dodgerblue; /* 101 */
}

.item #product {
  color: grey; /* 110 */
}
